<footer>
    <div class="footer_l">
        <a href="#" class="logo">
            LORDFILM-X
        </a>
        <span>yexoyan3120@gmail.com - обращайтесь, в случае нарушения авторских прав.</span>
    </div>
    <div class="footer_r">
        <h4>Главное меню</h4>
        <ul>
            <li><a href="#">> Сериалы</a></li>
            <li><a href="#">> Мультики</a></li>
            
        </ul>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>