<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/mian.css">
    <title>Document</title>
</head>
<body>
<main class="main">
<header class="header">
    <div class="logo">
        <a href="#">
           LORDFILM-X
        </a>
    </div>
    <nav class="menu">
        <ul class="menus"></ul>
        
    </nav>
    <form class="search" action="/search">
        <input type="text" name="q">
        <button>send</button>
    </form>
</header>
